<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

   <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

   <div class="field">
    <%= form.label :display_name %>
    <%= form.text_field :display_name %>
  </div>

   <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <% if user.new_record? %>
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>
  <% end %>

  <%= image_tag user.profile_pic, width: '30px' if user.profile_pic.attached? %>

  <div class="field">
    <%= form.label :profile_pic %>
    <%#= form.file_field :profile_pic %>
    <%= form.file_field :profile_pic, multiple: false, direct_upload: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
