<!DOCTYPE html>
<html>
  <head>
    <title>Ticketing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/lang_switcher' %>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <ul>
      <li><%= link_to t("models.user"), users_path %></li>
      <li><%= link_to t("models.quote/submission"), quote_submissions_path %></li>
      <li><%= link_to t("models.tenant"), tenants_path%></li>
    </ul>
    <%= yield %>
  </body>
</html>
